:root {
    /* ===== Colors ===== */
    --body-color: #000000;
    --primary-color: #ee0072;
    --text-color: #fff;
    --background-color: linear-gradient(to bottom, #78005e 0%, #060049 80%);

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;

    /* ====== spacing ====== */
    --overal-padding: 2em 0 0 5.5em;
}

/* general ejs styling */

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: AvenirMedium;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}